# mongoDB isntance location/port
MONGO_URI = mongodb://localhost:27017

# secret key used to sign the token 
SECRET_KEY = your_secret_here

ACCESS_TOKEN_EXPIRE_MINUTES = 15   # Short-lived
REFRESH_TOKEN_EXPIRE_DAYS = 7      # Long-lived

# google oauth client id
GOOGLE_CLIENT_ID = web_google_client_id # out here google auth web client id

# hash algorithm for password hashing
ALGORITHM = your_algorithm_here